@font-face {
    font-family: FontGame;
    src: url(../assets/fontgame.ttf);
}
.game_container{
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: bottom;
    font-family: FontGame;
}